﻿@model IEnumerable<Restaurant>
@if (!User.Identity.IsAuthenticated)
{
    <h1>ADMIN CREDENTIALS</h1>
    <h2>admin@mail.com</h2>
    <h2>Aa123456!</h2>
}
<h3>Restaurant list</h3>

<table>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                <h6><a href="/Home/Rest?restId=@item.Id">@item.Name</a></h6>
            </td>
        </tr>
    }
    </table>