@model IEnumerable<Dish>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
        <p>
            @Html.ActionLink("Добавить блюдо", "AddDish", "Admin")
        </p>
    }
}
    <table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Добавить в корзину", "AddDish", "Home", 
                    new {dishId = item.Id})
            </td>

        </tr>
    }
</table>