@model Promocode
<div class="panel">

    @using (Html.BeginForm("CreateCode", "Admin", FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(x => x.Id)

            <div class="form-group">
                @Html.EditorFor(x => x.Code)
                <hr>
                Discount @Html.EditorFor(x => x.Discount)
                <br>
                Valid until @Html.EditorFor(x => x.ValidUntil)
                <br />
                Can be used @Html.EditorFor(x => x.UseCounter) times
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Admin", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>       