@model Dish
<div class="panel">
    <div class="panel-heading">
        <h3>Создание блюда</h3>
    </div>

    @using (Html.BeginForm("Create", "Admin", FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.RestaurantId)

            <div class="form-group">
                Name @Html.EditorFor(x => x.Name)
                <hr>
                Price @Html.EditorFor(x => x.Price)
                <br>
                Description @Html.EditorFor(x => x.Description)
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Admin", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>       