<h1>Add restaurant</h1>
@using (Html.BeginForm("ConfigureRest", "Admin", FormMethod.Post))
{
    <section>
        <label class="input">
            <i class="fa fa-append fa-tag"></i>
            <input type="text" name="Name" />
        </label>
    </section>
    <p>
        <input type="submit" value="Загрузить" class="btn btn-primary">
    </p>
}
