@model IEnumerable<Restaurant>
<h1> Select a restaurant</h1>
<table>
    @foreach (var item in Model) {
        <tr>
            <td>
                <h6><a href="/Admin/ChooseRest?restId=@item.Id">@item.Name</a></h6>
            </td>
        
        </tr>
    }</table>