@model IEnumerable<Restaurant>
<h2>Страница администратора</h2>
<p>
    @Html.ActionLink("Добавить ресторан", "AddRestaurant", "Admin")
</p>
<p>
    @Html.ActionLink("Добавить блюдо", "AddDish", "Admin")
</p>
<p>
    @Html.ActionLink("Добавить промокод", "AddCode", "Admin")
</p>
<hr />
<table>
@foreach (var item in Model) {
    <tr>
        <td>
            <h6><a href="/Home/Rest?restId=@item.Id">@item.Name</a></h6>
        </td>
        <td>
            @Html.ActionLink("Удалить", "Delete", 
                new {restId = item.Id})
        </td>
        
    </tr>
}</table>
