@{
    ViewBag.Title = "Add file";
}

<h1>Add file</h1>
@using (Html.BeginForm("ConfigureFile", "Home", FormMethod.Post, 
    new { enctype = "multipart/form-data" }))
{
    <section>
        <label class="input">
            <i class="fa fa-append fa-tag"></i>
            Select file<br /> <input type="file" name="uploadedFile" />
        </label>
    </section>
    <section>
        <input type="text" maxlength="30" name="Name" placeholder="Short description"/>
    </section>
    <section>
        <textarea rows="4" name="Description" placeholder="Full description"></textarea>
    </section>    
    <p>
        <input type="submit" value="Загрузить" class="btn btn-success">
    </p>
}