@model FileModel

<!DOCTYPE html>

<html>
<head>
    <title>File info</title>
</head>
<body>
<div>
    <h3>@Model.Name</h3>
    <h4>@Model.Description</h4>
    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.File))" 
         width="350px" alt="img">
    <a href="/Home/Download?fileId=@Model.Id"> Download the file</a>
    <p> This file was downloaded @Model.DownloadsCounter times</p>
</div>
</body>
</html>