﻿@model IEnumerable<FileModel>
@{
    ViewData["Title"] = "All files";
}
@Html.ActionLink("Add File", "AddFile", "Home")
<hr />
<form action="Home/Sort" >
    <input type="radio" name="sorttype" value="date"> Sort by date</input>
    
    <input type="radio" name="sorttype" value="name">Sort by name</input>
    
    <input type="submit" value="SORT IT"> </input>
</form>
<table>
@foreach (var  item in Model)
{
        <tr>
            <td><a href="/Home/FilePage?fileId=@item.Id">
                <h4 class="post-title">
                    @item.Name </h4>
            </a></td>
            <td>@item.When</td>
        </tr>
}
</table>