@model List<FileModel>

<h1>Search results</h1>
<table>
    @foreach (var  item in Model)
    {
        <tr>
            <td><a href="/Home/FilePage?fileId=@item.Id">
                <h4 class="post-title">
                    @item.Name </h4>
            </a></td>
            <td>@item.When</td>
        </tr>
    }
</table>