@model IEnumerable<FileModel>
@{
    ViewData["Title"] = "All files";
}
<table>
@foreach (var  item in Model)
{
        <tr>
            <td><a href="/Home/FilePage?fileId=@item.Id">
                <h4 class="post-title">
                    @item.Name </h4>
            </a></td>
            <td>@item.When</td>
        </tr>
}
</table>